.collections-list-top{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.collections-table{
    margin-top: 20px;
    width: 80vw;
    border: 2px solid gray;
}

.collections-table-row{
    border-bottom: 1px solid gray;
    padding: 10px;
    width: 100%;
}

.collections-table-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.collections-table-header{
    text-align: center;
    background: #DDD;
    padding: 5px 0;
}