*{
    padding: 0;
    margin: 0;
}

.main-nav-bar{
    height: 10%;
    background: #444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 10px
}

.main-content{
    height: 90%;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 10px;
}

.sw-logo-nav{
    width: 10%;
    height: 80%;
}

.sw-name{
    margin-top: 10px;
    font-family: 'Star Wars';
    color: gold;
}

.nav-buttons{
    padding-right: 30px;
}

.nav-item{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Star Wars';
}

.logo-wrapper{
    display: flex;
    gap: 10px;
}